*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
}
h1{
    color: #1877f2;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 20px;
}
form{
    background: #fff;
    width: 400px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 20px 25px;
    border-radius: 10px;
}
.head h2{
    font-size: 24px;
    margin-bottom: 5px;
}
.head p{
    color: #606770;
    font-size: 14px;
    margin-bottom: 15px;
}
.input-field{
    display: flex;
    gap: 10px;
    width: 100%;
}
.input-field input{
    width: 50%;
    padding: 12px;
    border: 1px solid #ccd0d5;
    border-radius: 5px;
    font-size: 14px;
}
.input-field-head span{
    font-size: 13px;
    color: #606770;
    margin: 10px  0 5px;
}
.option-field{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.option-field select{
    width: 33%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}
.option-field label{
    border: 1px solid #ccd0d5;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #1c1e21;
}
.option-field input[type='checkbox']{
    transform: scale(1.2);
}
.input-final input{
    width: 100%;
    margin-top: 10px;
    padding: 12px;
    border: 1px solid #ccd0d5;
    border-radius: 5px;
    font-size: 14px;
}
.footer p{
    text-align: center;
    margin-top: 30px;
    border-top: solid 1px #ccc;
    padding-top: 10px;
    font-size: 0.9rem;
    color: #555;
}
.footer a{
    color: #1877f2;
    text-decoration: none;
    margin: 0 10px;
}
.footer a:hover{
    text-decoration: underline;
}
button {
    width: 100%;
    padding: 12px;
    background: #00a400;
    color: #fff;
    border: none;
    margin-top: 15px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background: #039903;
}